<div class="row" id="admin">
  <div class="col-md-9">
    <header>
      <h1>Admin Lounge</h1>
    </header>
    <p>Welcome to the Admin Lounge.  Please Enjoy your stay</p>
  </div>
  <div class="col-md-3">
    <h2>Admin links</h2>
    <ul class="nav nav-stacked"></ul>
    <li><%= link_to 'Users', admin_users_path %></li>
    <li><%= link_to 'States', admin_states_path %></li>
  </div>
</div>
