/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome";
  @import "projects";
  @import "admin/application";
  @import "responsive";




  body {
    padding-top: 70px;
  }

  .page-header {
    position: relative;
    padding-bottom: 0px;

    &:first-child {
      margin-top: 20px;
  }

    h1, h2, h3, h4, h5, h6 {
    max-width: 55%;
    }
  }

  ul.actions {
    @extend .list-unstyled;
    @extend .list-inline;
  }

  a.new, a.edit, a.delete {
    @extend .btn;

      &:before {
      font-family: "FontAwesome";
      padding-right: 0.5em;
    }
  }

  a.new {
    @extend .btn-success;

      &:before {
      @extend .fa-pencil;
    }
  }

  a.edit {
    @extend .btn-primary;
      &:before {
      @extend .fa-pencil;
    }
  }

  a.delete {
    @extend .btn-danger;

      &:before {
      @extend .fa-trash;
    }
  }

  header {
    @extend .page-header;
    position: relative;
    padding-bottom: 0px;

      &:first-child {
      margin-top: 20px;
    }
  }

  .alert-notice {
    @extend .alert-success;
  }

  .alert-alert {
    @extend .alert-danger;
  }

  form {
    max-width: 500px;
  }

  @media(max-width: 500px) {
    p { color: red }
  }

  #attributes {
    @extend .table;
    @extend .table-condensed;
    width: 65%;
    th {
     width: 35%;
  }
    tr:first-child {
     td, th {
      border-top: 0px;
     }
  }
    td, th {
     line-height: 24px !important;
  }
}

.roles {
  @extend .table;
  @extend .form-horizontal;
  tr:first-child {
    td,
    th {
      border-top: 0;
    }
  }
  label {
    @extend .control-label;
  }
  select {
    @extend .form-control;
  }
}

blockquote.comment p {
  font-size: 14px;
}

.state {
  @extend .label;
  font-size: 12px;
  padding: 0.3em 0.6em;
}

#tickets li {
  padding-bottom: 10px;
}

#tickets li, #states li {
  padding-bottom: 10px;
}
